* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Castillo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.title{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    color: rgb(245, 192, 255);
}
header img{
    width: 95%;
    margin: 10px;
    border-radius: 30px;
}
.lista{
    margin: 20px;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    color: rgb(161, 49, 236);
    border-radius: 30px;
    background-image: url(gatoLibro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.caracteristicas{
    margin: 10px;
    padding: 20px;
}
.caracter{
    color: rgb(0, 110, 255);
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.titulo{
    margin: 10px;
    text-align: center;
    color: rgb(2, 255, 242);
    font-size: 21px;
}
.parrafo{
    color: white;
    border-radius: 30px;
    line-height: 30px;
    margin: 20px;
    text-align: justify;
    font-size: 20px;
    background-image: url(FloresMoradas.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.Valeria{
    margin: 20px;
    padding: 20px;
}
.imagen{
    text-align: center;
}
.imagen img{
    margin: 20px;
    border-radius: 50%;
    border: 4px solid whitesmoke;
}
.retratos{
    text-align: center;
}
.retratos img{
    margin: 10px;
    width: 300px;
    height: 100%;
    border-radius: 30px;
}


#texto{
    background: rgb(51, 51, 51);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 30px 0 0 0;
}
#texto h3{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
#texto p{
    text-align: justify;
    font-size: 20px;
}
#texto .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}
.text{
    margin: 20px;
}
.text h4{
    text-align: center;
    font-size: 20px;
}
.text img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
}

/*-- Footerr --*/
.Macabra{
    background: url(CaraMacabra.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    padding-bottom: 0.1px;
    background: rgb(39, 39, 39);
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us {
    width: 40%;
    color: #fff;
}
.brand {
    font-weight: 500;
    font-size: 40px;
}
.brand p {
    font-weight: 500;
}
.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}
.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}
.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}
.center {
    text-align: center;
}

@media screen and (max-width:800px) {
   
    .footer-content {
        justify-content: center;
    }
    .footer-content {
        justify-content: center;
    }
    .social-media {
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon {
        margin-left: 0;
    }
    .social-media i {
        margin-left: 0;
    }
    .contact-us {
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}